body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
  
  .navigation {
    height: 70px;
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
    
  }
  
  .brand {
    float: left;
    line-height: 70px;
    font-size: 1.4em;
    padding-left: 20px;
   }
  
  .brand a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    background: #262626;
    text-decoration: none;
    line-height: 70px;
  }
  
  nav ul li a:hover {
            background: #2581DC;
            color: #ffffff;
            transition: .4s;
  }
  
  nav ul li a:not(:only-child):after {
            padding-left: 4px;
            content: '  ▾'; }
  
  nav ul li ul li {
    min-width: 160px;
    }
  
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    
    
  }
  
  .nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;  }
  
  /* Mobile Hamburger Menu */
  
  .nav-mobile {
    display: none;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #262626;
  }
  
  /* Media Query for Navigation */
  
  @media only screen and (max-width: 800px) {
  
    .nav-mobile {
      display: block;
    }
    
    nav {
      width: 100%;
      padding: 0 15px;
    }
    
    nav ul {
      display: none;
    }
    
    nav ul li {
      float: none;
    }
    
     nav ul li a {
            padding: 15px;
            line-height: 20px; 
    }
  
    nav ul li ul li a {
            padding-left: 40px;
            background-color: gray;
    }
    
    .nav-dropdown {
      position: static;
    }
  }
  
  @media screen and (min-width: 800px) {
    .nav-list {
      display: block !important; } }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0; }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 4px;
      width: 30px;
      background: pink;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
    #nav-toggle span:before {
      top: -10px; }
    #nav-toggle span:after {
      bottom: -10px; }
    #nav-toggle.active span {
      background-color: transparent; }
      #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0; }
      #nav-toggle.active span:before {
        transform: rotate(45deg); }
      #nav-toggle.active span:after {
        transform: rotate(-45deg); }





/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}